@model Company

<div class="container my-3">
    <div class="row mb-3">
        <div class="d-flex justify-content-between align-content-center">
            <div class="display-6"><a href="/Company/Index"><i class="bi bi-arrow-left text-dark"></i></a> Create New Company</div>
        </div>
    </div>

    <div class="row mt-3">
        @* <form action="/Admin/Company/Create" method="post"> *@
        @*     <div class="mb-3"> *@
        @*         <label for="name" class="form-label">Company Name</label> *@
        @*         <input type="text" class="form-control" id="name" name="Name" value="@Model.Name"> *@
        @*         <span class="text-danger" asp-validation-for="Name"></span> *@
        @*     </div> *@
        @*     <button type="submit" class="btn btn-primary">Create</button> *@
        @* </form> *@

        @* @using(Html.BeginForm(FormMethod.Post)) { *@
        @*     <div class="mb-3"> *@
        @*         @Html.LabelFor(e => e.Name, "Company Name", new { @class="form-label" }) *@
        @*         @Html.EditorFor(e => e.Name, new { htmlAttributes = new { @class = "form-control" } }) *@
        @*         @Html.ValidationMessageFor(e=>e.Name) *@
        @*     </div> *@
        @*     <button type="submit" class="btn btn-primary">Create</button> *@
        @* } *@

        <form asp-action="Create" asp-controller="Company" asp-area="Admin"> 
            <div class="mb-3">
                 <label asp-for="Name" class="form-label">Company Name</label>
                 <input asp-for="Name" class="form-control" />
                 <span class="text-danger" asp-validation-for="Name"></span>
             </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label">Company Description</label>
                <input asp-for="Description" class="form-control" />
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Scale" class="form-label">Company Scale</label>
                <input asp-for="Scale" class="form-control" type="number" />
                <span class="text-danger" asp-validation-for="Scale"></span>
            </div>
             <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}